{
	"storyblok": {
		"STORYBLOK_SPACE_ID": "",
		"STORYBLOK_OAUTH_TOKEN": ""
	},
	"base": {
		"STRIPE_SECRET_KEY_TEST": "",
		"STRIPE_SECRET_KEY_LIVE": "",
		"STRIPE_WEBHOOK_SECRET_TEST": "",
		"STRIPE_WEBHOOK_SECRET_LIVE": ""
	},
	"spa": {
		"NUXT_ENV_IS_SPA": "true"
	},
	"target_preview": {
		"NUXT_ENV_TEST_MODE": "true",
		"NUXT_ENV_STORYBLOK_PREVIEW": "true",
		"STORYBLOK_TOKEN": ""
	},
	"target_prod": {
		"NUXT_ENV_TEST_MODE": "false",
		"NUXT_ENV_STORYBLOK_PREVIEW": "false",
		"STORYBLOK_TOKEN": ""
	}
}
