{
	"storyblok": {
		"STORYBLOK_SPACE_ID": "",
		"STORYBLOK_OAUTH_TOKEN": ""
	},
	"spa": {
		"NUXT_ENV_IS_SPA": "true"
	},
	"target_preview": {
		"NUXT_ENV_STORYBLOK_PREVIEW": "true",
		"STORYBLOK_TOKEN": "",
		"STRIPE_SECRET_KEY": "",
		"STRIPE_WEBHOOK_SECRET": ""
	},
	"target_prod": {
		"NUXT_ENV_STORYBLOK_PREVIEW": "false",
		"STORYBLOK_TOKEN": "",
		"STRIPE_SECRET_KEY": "",
		"STRIPE_WEBHOOK_SECRET": ""
	}
}
