@mixin rgb-values-as-css-vars {
	@each $name, $color in $clientcolors {
		--rgb_#{$name}: #{red($color)}, #{green($color)}, #{blue($color)};
		--#{$name}: #{$color};
	}
}

:root {
	@include rgb-values-as-css-vars;
}

// replicate vuetify colors with own names
// copied and adapted from node_modules/vuetify/src/styles/generic/_colors.scss
@mixin bg-color($color_value) {
	background-color: $color_value !important;
	border-color: $color_value !important;
}
@mixin txt-color($color_value) {
	color: $color_value !important;
	caret-color: $color_value !important;
}

@each $color_name, $color_value in $clientcolors {
	.v-application .#{$color_name} {
		@include bg-color($color_value);
	}

	.v-application .#{$color_name}--text {
		@include txt-color($color_value);
	}
}

body {
	background: getcolor('dark');

	// default link color
	.v-application a {
		color: getcolor('ahref');
	}

	@media all and (display-mode: standalone) {
		user-select: none;
	}
}

// for lightgallery
body.lg-on {
	font-family: $body-font-family;
	line-height: 1.5;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
	border-color: getcolor('prime') !important;
}
