// duplicate theme colors, to be able to use with rgba()
$c-bright: #ebebee;

$main-nav-letter-spacing: 0.0125em;

$color-pack: false;

$body-font-family: 'InterVariable', sans-serif;
$border-radius-root: 6px;
$container-padding-x: 16px;

$material-dark: (
	'background': none,
	'text': (
		'primary': #ebebee,
		'secondary': #ebebee
	),
	'secondary-text-percent': 1
);

$grid-breakpoints: (
	'xs': 0,
	'sm': 340px,
	'md': 600px,
	'lg': 800px - 16px,
	'xl': 1156px - 16px
);

$container-max-widths: (
	'md': 562px,
	'lg': 734px,
	'xl': 976px
);

@import '~vuetify/src/styles/styles.sass';

// ::: vuetify component overrides :::
// VBtn
// $btn-active-opacity: 0;
// $btn-focus-opacity: 0;
$btn-letter-spacing: 0.02em;
$btn-font-sizes: (
  'default': 0.9375rem // 15px
);

// VCard
$card-text-font-size: map-deep-get($headings, 'body-1', 'size');
$card-text-letter-spacing: normal;
$card-text-line-height: map-deep-get($headings, 'body-1', 'line-height');
$card-title-font-size: map-deep-get($headings, 'h5', 'size');
$card-title-font-weight: 700;
$card-title-letter-spacing: map-deep-get($headings, 'h5', 'letter-spacing');
$card-title-line-height: map-deep-get($headings, 'h5', 'line-height');
$card-subtitle-padding: 20px;

// VLabel
$label-font-size: 0.9375rem; // 15px

// VList
$list-item-title-font-size: 0.9375rem; // 15px
$list-item-subtitle-font-size: 0.9375rem; // 15px
$list-item-title-subtitle-line-height: 1.28;
$list-item-content-padding: 17px 0;
$list-item-icon-margin: 18px 0;
$list-item-padding: 0 8px;
