$c-primary: #e05e5e;
$c-dark: #212121;

$color-pack: false;

$body-font-family: 'InterVariable', sans-serif;
$border-radius-root: 6px;
$container-padding-x: 16px;

$material-dark: (
	'background': none,
	'text': (
		'primary': #ebebee
		// 'secondary': rgba($vuetify_main_font_bright_color, $vuetify_main_font_bright_percent)
	),
	'secondary-text-percent': 1
);

$grid-breakpoints: (
	'xs': 0,
	'sm': 340px,
	'md': 600px,
	'lg': 800px - 16px,
	'xl': 1156px - 16px
);

$container-max-widths: (
	'md': 562px,
	'lg': 734px,
	'xl': 976px
);

// ::: vuetify component overrides :::
// VBtn
// $btn-active-opacity: 0;
// $btn-focus-opacity: 0;
$btn-letter-spacing: 0.02em;
$btn-font-sizes: (
  'default': 0.9375rem // 15px
);

// VCard
$card-shaped-border-radius: $border-radius-root;
$card-title-font-size: 0.9375rem; // 15px
$card-text-font-size: 0.9375rem; // 15px

// VLabel
$label-font-size: 0.9375rem; // 15px

// VList
$list-item-title-font-size: 0.9375rem; // 15px
$list-item-subtitle-font-size: 0.9375rem; // 15px
$list-item-title-subtitle-line-height: 1.28;
$list-item-content-padding: 17px 0;
$list-item-icon-margin: 18px 0;
$list-item-padding: 0 8px;

@import '~vuetify/src/styles/styles.sass';
