.hover-card {
	transition: transform 300ms;

	@media (hover: hover) {
		&:hover::before {
			opacity: 0.08;
		}
		@media #{map-get($display-breakpoints, 'lg-and-up')} {
			&:hover {
				transform: scale(1.02);
			}
		}
	}

	.news-title {
		font-weight: 700;
		line-height: 2.25rem; // 36px
		word-break: normal;

		text-decoration: underline;
		text-decoration-color: getcolor('prime');
		text-decoration-skip: none;
		text-decoration-skip-ink: none;
		text-decoration-thickness: 5px;
	}
}
